<footer class="site-footer">
  <div class="wrap">
    <p>
      &copy; <%= new Date().getFullYear() %> <%= (typeof brand!=='undefined'?brand:'Jesus Is The Christ') %>
      • <span class="ts"><%= new Date().toLocaleString() %></span>
    </p>
  </div>
</footer>
